<!--Start sidebar-wrapper-->
<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
  <div class="brand-logo">
    <a href="/">
      <img src="/images/logo.svg" class="logo-icon" alt="logo icon">
      <h5 class="logo-text">Swift</h5>
    </a>
  </div>
  <ul class="sidebar-menu do-nicescrol color-bg">
    <li class="sidebar-header">MAIN NAVIGATION</li>
    <li>
      <a href="/home" class="waves-effect">
        <i class="fa fa-user-o" aria-hidden="true"></i></i><span>Home</span></a>
    </li>
    <li>
      <a href="/avisos" class="waves-effect">
        <i class="fa fa-bell-o" aria-hidden="true"></i></i><span>Avisos</span></a>
    </li>
    <li>
      <a href="/miedificio" class="waves-effect">
        <i class="fa fa-building-o" aria-hidden="true"></i></i><span>Mi Edificio</span></a>
    </li>
    {{!-- <li{{#is title "Partials"}} class="active" {{/is}}> --}}
  </ul>

</div>
<!--End sidebar-wrapper-->