<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Swift - Admin</title>
  <!--favicon-->
  <link href="/public/stylesheets/reset.css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <!-- simplebar CSS-->

  <!-- Bootstrap core CSS-->
  <link href="/stylesheets/template/bootstrap.min.css" rel="stylesheet" />
  <!-- animate CSS-->

  <!-- Icons CSS-->

  <!-- Sidebar CSS-->
  <!-- Custom Style-->

  <!-- Style-->
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <link href="/stylesheets/landing.css" rel="stylesheet" />

</head>

<body>

  <!-- Start wrapper-->
  <div id="wrapper">

    <!--Start sidebar-wrapper-->

    <!--End sidebar-wrapper-->

    <!--Start topbar header-->

    <header>
      <nav class="nav">
        <div id="navOne">
          <img src="images/logo.png" class="logo" alt="Logo Swift" <strong>  Swift</strong>
        </div>

        <div id="navList">
          <ul class="navList">
            
            <li id="navTwo"><a href="/#sobreNosotros">Sobre nosotros</a></li>
            <li id="navTwo"><a href="/#contacto">Contáctanos</a></li>
            <li id="navTwo"><a href="/login">Iniciar sesión</a></li>

          </ul>
        </div>

      </nav>

    </header>
    <!--End topbar header-->

<div class="wraper">
          <div class="wraper1">
            Swift, la aplicación más intuitiva, completa y eficaz para administrar edificios
          </div>
          <div class="wraper2">
            <img id="mobile" src="images/kisspng-iphone-telephone-android-white-iphone-5ab952044d8e01.8381596115220945963177.png" alt="mobile">
          </div>
          <div class="wraper3"></div>
          
</div>
    <!-- End container-fluid-->

  <div class="fluid">
<p>
          <h2>Controla los gastos de tu edifico desde cualquier lugar</h2>
          <p>
Con la aplicación móvil, los propietarios y residentes del edificio tienen a su disposición toda la información relativa a los gastos, reparaciones y novedades.</p>
</p>
  </div>

 
  <!--End content-wrapper-->
  <!--Start Back To Top Button-->

  <!--End Back To Top Button-->

  <!--Start footer-->
  <footer>
     
        <ul class="foot">
          <li>Preguntas Frecuentes</li>
          <li>Prueba Gratis</li>
          <li>Términos</li>
         
        </ul>

{{> footer}}
    
   
  </footer>
  <!--End footer-->

  </div>
  <!--End wrapper-->


  <script src="/javascripts/template/jquery.min.js"></script>
  <script src="/javascripts/template/popper.min.js"></script>
  <script src="/javascripts/template/bootstrap.min.js"></script>
  <script src="/javascripts/template/simplebar/js/simplebar.js"></script>
  <script src="/javascripts/template/waves.js"></script>
  <script src="/javascripts/template/app-script.js"></script>
  <script src="/javascripts/script.js"></script>

</body>

</html>